<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %>

    <main>
      <div class="l-container pt-2">
          
        <% if (invoices.length > 0) { %>
            <h1>Invoices</h1>
            <table>
              <tr>
                <th>Invoice Number</th>
                <th>Invoice ID</th>
                <th>Library</th>
                <th>Status</th>
                <th>Date</th>
                <th>Link</th>
                <th>Action</th>
              </tr>

          <% let i = 0; for (let invoice of invoices) { %>
            <tr>
              <td><%= invoice.invoicenumber %></td>
              <td><%= invoice.invoiceid %></td>
              <td><%= invoice.library %></td>
              <td><%= invoice.status %></td>
              <td><%= invoice.datetime.toLocaleDateString() %></td>
              <td>
                <a
                href="/invoice/<%= invoice.invoiceid %>"
                class="btn"
                target="_blank"
                >View invoice</a>
              </td>
              <!-- <td>
                <a
                href="/admin/edit-invoice/<%= invoice.id %>"
                class="btn"
                >Edit invoice</a
              >
              </td> -->
              <td>
                <form
                id="invoice-form"
                method="POST"
                action="/admin/delete-invoice/<%= invoice.id %>"
              >
                <input
                  type="hidden"
                  id="id"
                  name="id"
                  value="<%= invoice.id %>"
                />
                <button type="submit" class="btn--primary">
                  Delete invoice
                </button>
              </form>
              </td>
            </tr>
          <% i++; } %>
        </table>
        <%- include('include/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
      </div>

        <% } else { %>
        <h1>No invoices Found!</h1>

        <% } %>
      </div>
    </main>

    <%- include('include/footer'); %>
  </body>
</html>
