<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %>

    <main>
      <div class="l-container pt-2">
          
        <% if (invoices.length > 0) { %>
            <h1><%= title %></h1>
            <table>
              <tr>
                <th>Invoice Number</th>
                <th>Invoice ID</th>
                <th>Library</th>
                <th>Paid Date</th>
              </tr>

          <% let i = 0; for (let invoice of invoices) { %>
            <tr>
              <td><%= invoice.invoicenumber %></td>
              <td><%= invoice.invoiceid %></td>
              <td><%= invoice.library %></td>
              <td><%= invoice.datetime.toLocaleDateString() %></td>
            </tr>
          <% i++; } %>
        </table>
        <%- include('include/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
      </div>

        <% } else { %>
        <h1>No invoices Found!</h1>

        <% } %>
      </div>
    </main>

    <%- include('include/footer'); %>
  </body>
</html>
