<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <style>
    td {
      border: 1px solid #6fcfeb;
    }
  </style>
  <body>
    <%- include('include/header'); %>
    <div class="l-container pt-2">
      <h2>Preview alma data (Complete)</h2>
      <%- body %>
    </div>
    <%- include('include/footer'); %> <%- include('include/effects.ejs'); %>
  </body>
</html>
