<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head'); %>
  </head>
  <body>
    <%- include('include/header'); %>

    <main>
      <div class="l-container pt-2">
          
        <% if (vendors.length > 0) { %>
            <h1>users</h1>
            <table>
              <tr>
                <th>ID</th>
                <th>vendor ID</th>
                <th>vendor Code</th>
              </tr>

          <% let i = 0; for (let vendor of vendors) { %>
            <tr>
              <td><%= vendor.id %></td>
              <td><%= vendor.vendorId %></td>
              <td>
                <button onClick="toggle('vendorDiv<%= i %>')">show</button>
                <div id="vendorDiv<%= i %>" style="display:none">
                <%= vendor.vendorData %>
                </div>
              </td>
              <!-- <td>
                <a
                href="/admin/edit-vendor/<%= vendor.id %>"
                class="btn"
                >Edit Vendor</a
              > -->
              <td>
                <form
                id="vendor-form"
                method="POST"
                action="/delete-vendor/<%= vendor.id %>"
              >
                <input
                  type="hidden"
                  id="id"
                  name="id"
                  value="<%= vendor.id %>"
                />
                <button type="submit" class="btn--primary">
                  Delete Vendor
                </button>
              </form>
              </td>
              </td>
            </tr>
          <% i++; } %>
        </table>

      </div>

        <% } else { %>
        <h1>No vendors Found!</h1>

        <% } %>
      </div>
    </main>
    <%- include('include/footer'); %>
    <%- include('include/effects'); %>
  </body>
</html>
